<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi, <%= @user.email %></h1>
    <p>
      You requested a password reset.<br/>
    </p>
    <p>
      To reset your password just click <%= link_to "here ", @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>