Hi, <%= @user.email %>
===============================================

You requested a password reset.

To reset your password just click <%= link_to "here ", @url %>.

Thanks for joining and have a great day!