<form action="<%=session_url%>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

  <label id="user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">

  <label id="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">

  <input type="submit" name="Log In">

</form>