
<form action="<%= user_path(params[:id]) %>", method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">


  <input  type="hidden" name="_method" value="put">
<label id="new_password">Password</label>
<input type="text" name="user[password]" id="new_password">

<input type="hidden" name="email_params[password_token]" value="<%=params[:password_token]%>">
<input type="hidden" name="email_params[id]" value="<%=params[:id]%>">

<input type="submit" name="Submit">


</form>