
<form action="<%= request_password_reset_users_url %>", method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">


<label id="user_email">Email</label>
<input type="text" name="user[email]" id="user_email">

<input type="submit" name="Submit">
</form>