<% action_url = @circle.persisted? ? friend_circle_url : friend_circles_url %>

<form action="<%=action_url%>" method="post">

  <% if @circle.persisted? %>
    <input type="hidden" name="_method" value="put">
  <% end %>

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">


  <label id="friend_circle_name">New Friend Circle</label>
  <input type="text" name="friend_circle[name]" id="friend_circle_name" value="<%= @circle.name %>">
  <p>


  <% User.all.each do |user| %>
       <% html_id = "user_circle_ids_#{user.id}" %>
       <input
         type="checkbox"
         name="friend_circle[member_ids][]"
         value="<%= user.id %>"
         id="<%= html_id %>"
         <%= "checked" if @circle.members.include?(user) %>
         >
       <label for="<%= html_id %>">
         <%= user.email %>
       </label><br>
     <% end %>
   <p>

     <input type="hidden" name="friend_circle[member_ids][]" value="">


  <input type="submit" name="Submit">
</form>