<form action="<%=friend_circles_url%>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">


  <label id="friend_circle_name">New Friend Circle</label>
  <input type="text" name="friend_circle[name]" id="friend_circle_name">
  <p>


  <% User.all.each do |user| %>
    <% if current_user.id == user.id%>
    <input type="hidden" name="friend_circle[member_ids][]" value="<%= user.id %>">
    <% else %>
       <% html_id = "user_circle_ids_#{user.id}" %>
       <input
         type="checkbox"
         name="friend_circle[member_ids][]"
         value="<%= user.id %>"
         id="<%= html_id %>">
       <label for="<%= html_id %>">
         <%= user.email %>
       </label><br>
     <% end %>
   <% end %>
   <p>


  <input type="submit" name="Submit">
</form>