<!DOCTYPE html>
<html>
<head>
  <title>Social</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if flash.now[:errors] %>
  <% flash.now[:errors].each do |error| %>
   <%= error %><br />
  <% end %>
<% end %>

<% if current_user.nil? %>
<%= button_to "Log in", new_session_url, method: :get %>
<% else %>
<%= button_to "Log out", session_url, method: :delete %>
<%= current_user.email %>
<% end %>


<%= yield %>

</body>
</html>
