<form action="<%=posts_url%>" method="post">

  <input type="hidden"
         name="authenticity_token"
         value="<%= form_authenticity_token %>">

   <input type="hidden" name="post[user_id]" value="<%=current_user.id%>">
  <label for="post_body">Describe Links</label><br>
  <textarea name="post[body]" id="post_body"></textarea>
  <p>


  <% FriendCircle.all.each do |circle| %>

       <% html_id = "circle_ids_#{circle.id}" %>
       <input
         type="checkbox"
         name="post[circle_ids][]"
         value="<%= circle.id %>"
         id="<%= html_id %>">
       <label for="<%= html_id %>">
         <%= circle.name %>
       </label><br>
     <% end %>

   <p>

     <% 3.times do |t| %>

     <label for="link<%=t%>">Link <%=t+1%></label>
     <input type="text" name="link[]" id="link<%=t%>"><br>

     <% end %>
  <input type="submit" name="Submit">
</form>